body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #01323D;
  color: white;
}

.logo {
  display: block;
  margin: 0 auto;
}

.form-signin, .form-signin-heading, .signin-options {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.signin-options a {
  font-size: 1.1em;
  color: white;
}

.split-para {
  display:block;
}

.split-para span {
  display:block;
  float:right;
  width:50%;
  text-align: right;
}

.signin-message {
   display: block;
   max-width: 330px;
   text-align: center;
   font-size: 1.2em;
   margin: 0 auto;
   margin-top: 15px;
}

.signin-message a {
   color: white;
   font-size: 1.2em;
}

.form-signin-heading {
   text-align: center;
   font-size: 1.7em;
   padding-top: 0px;
   padding-bottom: 5px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
