/*Body Styles*/
html,
body {
   margin:0;
   padding:0;
   height:100%;
}

.wrapper {
   min-height: 100%;
   position: relative;
}

.content {
   padding: 60px 40px;
   padding-bottom: 60px;
   width: 100%;
}

/*Nav Bar Styles*/
.navbar-default {
   background-color: #01323D;
}

.navbar-default .navbar-nav > li > a {
   color: white;
}

.navbar-default .navbar-nav > .active > a {
   background-color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #D4D4D4;
  background-color: transparent;
}

.navbar-brand {
   max-height: 70px;
   padding: 0px;
   margin-right: 15px;
   width: auto;
}

/*Footer Styles*/
.footer {
   text-align: left;
   position: absolute;
   clear: both;
   bottom: 0;
   left: 0;
   right:0;
   width: 100%;
   z-index: 1000;
   /* Set the fixed height of the footer here */
   height: 60px;
   background-color: #01323D;
}
	
.footer .container {
   position: relative;
   top: 50%;
   transform: translateY(-50%);
}

.footer .container .text-muted {
   color: white;
   margin: 0px 0px;
}

.footer .container .text-muted a {
   color: #5DA2B2;
}

.footer .container .text-muted a:hover {
   text-decoration: underline;
   color: white;
}

/*Home Page Styles*/

.panel-default > .panel-heading {
   background-color: #5DA2B2;
   color: #fff;
}

#home-activestats, #home-compbox {
   width: 550px;
   float: left;
   margin: 20px;
}

#home-leaderboard {
   width: 550px;
   float: right;
   margin: 20px;
}

@media (max-width: 1280px) and (min-width: 680px) {
   #home-activestats, #home-leaderboard, #home-compbox {
      float: none;
      margin: 20px auto;
   }
}

@media (max-width: 680px) {
   #home-activestats, #home-leaderboard, #home-compbox {
      float: none;
      margin: 20px auto;
      width: 100%;
   }
}

/*Stocks Page Styles*/
#stocks-wrapper {
   text-align: center;
}

.stocks-wrapper {
   display: inline-block;
   margin: 0 auto;
}

.table-hover tbody tr:hover td {
  background-color: #5DA2B2;
  font-weight: bold;
}

#stocks thead th {
   text-align: center;
   white-space: nowrap;
}

#stocks tbody tr td {
   white-space: nowrap;
}

table.tablesorter thead tr .headerSortUp {
   background-image: url(imgs/black-asc.gif);
/*   background-repeat: no-repeat;
   background-position: center right;*/
}
table.tablesorter thead tr .headerSortDown {
   background-image: url(imgs/black-desc.gif);
/*   background-repeat: no-repeat;
   background-position: center right;*/
}

#alphabet {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

#alphabet li {
   float: left;
}

#alphabet li a {
   display: block;
   width: 20px;
}

.stocks-nav { 
   margin: 0 auto;
   width: 550px;
}

#searchTerm {
   width: 50%;
   margin-right: auto;
   margin-left: auto;
}

/*Portfolios Page Styles*/
.portfoliopage {
   position: relative;
   width: 100%;
}

.leftbox {
   position: relative;
   width: 230px;
   float: left;
   top: 10px;
   z-index: 1000;
}

.leftbox .side-button {
   margin-bottom: 10px;
}

.centerbox {
   position: relative;
   padding: 0px 320px 20px 250px;
}

.rightbox {
   position: relative;
   float: right;
   top: -20px;
   width: 300px;
   z-index: 1000;
}

#port-search {
   margin-bottom: 10px;
}

.port-stocks {
   width: 100%;
   overflow: auto;
   height: 350px;
}

.sidebar {
   background-color: #EEEEEE;
   position: static;
   top: 350px;
   width: 230px;
   bottom: 0;
   left: 0;
   display: block;
   padding: 20px;
   overflow-x: hidden;
   overflow-y: auto;
}

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  table-layout: fixed;
}

.nav-sidebar li {
  display: list-item;
  overflow: hidden;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.nav-sidebar li span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nav-sidebar .sidebar-active {
  color: #fff;
  background-color: #9b9b9b;
}

.port-stats {
   position: absolute;
   right: 320px;
   top: -20px;
}

#sidebar-colp {
   z-index: 2000;
}

#sidebar-colp li {
   padding-right: 10px;
   padding-left: 10px;
}

@media (max-width: 830px) {
   .port-stats {
      position: static;
      right: 0;
   }
   .centerbox {
      padding-right: 0;
   }
   .rightbox {
      float: none;
      position: static;
      top: 0;
   }
}

@media (max-width: 1105px) {
   .centerbox {
      padding-left: 0;
   }
   .leftbox {
      position: static;
      float: none;
      width: 100%;
      margin: 0 auto;
      text-align: center;
   }
   #sidebar-exp {
      display: none;
   }
   .side-button, .dropdown {
      display: inline-block;
      margin: 2%;
   }
}

@media (min-width: 1105px) {
   #sidebar-exp {
      display: block;
   }
   #sidebar-colp {
      display: none;
   }
}

.dropdown-menu {
    width: 250px !important;
}

/*What-If Page Styles*/
.whatif-message {
   display: block;
   clear: both;
}

#whatif-form {
   z-index: 1000;
   float: left;
   width: 250px;
   position: relative;
}

#whatif-form .form-group {
   margin-bottom: -10px;
}

#whatIfOutput {
   position: relative;
   padding-left: 270px;
   text-align: center;
}

#whatIfOutput span {
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
   font-size: 1.5em;
   font-weight: bold;
}

.whatif-graph {
   display: block;
   margin-top: -40px;
   margin-bottom: 20px;
   margin-left: auto;
   margin-right: auto;
}

/*Competition Page Styles*/
.comp-activeform {
   margin: 20px;
}
